extends err_head

block content
    .cover
      h1
        | Resource not found - 
        small Error 404
      p.lead The requested resource could not be found but may be available again in the future.